{% extends "layout.html" %}

{% block title %}All Chai{% endblock %}

{% block content %}
    <div class="content p-8">
        <h1 class="text-3xl font-bold mb-4 text-pink-500">All Chai</h1>
        <p class="text-lg mb-6">Here are some of our favorite chai recipes:</p>
        <ul class="chai-list list-disc list-inside pl-5">
            <li class="mb-2">Masala Chai</li>
            <li class="mb-2">Ginger Chai</li>
            <li class="mb-2">Cardamom Chai</li>
            <li class="mb-2">Assam Chai</li>
            <li class="mb-2">Earl Grey Chai</li>
        </ul>
    </div>
{% endblock %}
